{% extends "base.html" %}

{% block title %} Panel de Control {% endblock %}
{% block maintitle %} Panel de Control - Actividad {% endblock %}

{% block body3 %}
<a class="btn btn-secondary btn-sm disabled" href="#" role="button">Bancos</a>
<a class="btn btn-secondary btn-sm disabled" href="#" role="button">Postal</a>
<a class="btn btn-secondary btn-sm disabled" href="#" role="button">Monedas</a>
<a class="btn btn-secondary btn-sm disabled" href="#" role="button">Tipos de Pedido</a>
<a class="btn btn-secondary btn-sm disabled" href="#" role="button">Tipos de Poliza</a>
<a class="btn btn-secondary btn-sm disabled" href="#" role="button">Medios de Pago</a>
{% endblock %}
