{% extends "base-parametros.html" %}

{% block title %} Tipos de Poliza {% endblock %}
{% block listado %} Tipos de Poliza {% endblock %}

{% block body %}
  <div class="container py-5">
    <div class="row">
      <table id="listado" class="table table-striped" width="100%">
        <thead>
          <tr>
            <th scope="col">Tipo de Poliza</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for tipopoliza in tipospoliza %}
          <tr>
            <td>{{tipopoliza.nombre}}</td>
            <td>
              <a href="{% url 'parametros:editartipopoliza' tipopoliza.id %}" class="btn btn-primary">Editar</a>
              <a href="{% url 'parametros:eliminartipopoliza' tipopoliza.id %}" class="btn btn-danger">Eliminar</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <p></p>
      <a class="btn btn-success btn-lg" href="{% url 'parametros:agregartipopoliza' %}" role="button">Agregar Tipo de Póliza</a>
      <p></p>
      <a class="btn btn-success btn-lg btn-block" href="/parametros/" role="button">Salir</a>
    </div>
  </div>
{% endblock %}
