{% extends "base-actividad.html" %}

{% block title %} Panel de Control {% endblock %}
{% block maintitle %} Panel de Control - Actividad {% endblock %}

{% block body %}
<a class="btn btn-primary" href="clientes/" target="_blank" role="button">Clientes</a>
<a class="btn btn-primary" href="#" target="_blank" role="button">Ordenes</a>
<a class="btn btn-primary" href="#" target="_blank" role="button">Polizas</a>
<a class="btn btn-primary" href="#" target="_blank" role="button">Comprobantes</a>
<a class="btn btn-primary" href="#" target="_blank" role="button">Cheques</a>
<a class="btn btn-primary" href="#" target="_blank" role="button">Rendiciones</a>
<a class="btn btn-primary" href="#" target="_blank" role="button">Libros Rubricados</a>
<a class="btn btn-primary" href="#" target="_blank" role="button">Compañías</a>
<a class="btn btn-primary" href="#" target="_blank" role="button">Secciones</a>
<a class="btn btn-primary" href="#" target="_blank" role="button">Productores</a>
{% endblock %}
