    <div class="results">
        <table id="result_list">
            <thead>
                <tr>
                    <th scope="col"><div class="text"><span>Nro.Orden</span></div></th>
                    <th scope="col"><div class="text"><span>Fecha Reg</span></div></th>
                    <th scope="col"><div class="text"><span>Nombre o Razon Social</span></div></th>
                    <th scope="col"><div class="text"><span>Domicilio</span></div></th>
                    <th scope="col"><div class="text"><span>Ubicacion</span></div></th>
                    <th scope="col"><div class="text"><span>Ent.Aseguradora</span></div></th>
                    <th scope="col"><div class="text"><span>Bien a asegurar</span></div></th>
                    <th scope="col"><div class="text"><span>Riesgo a cubrir</span></div></th>
                    <th scope="col"><div class="text"><span>Suma a asegurar</span></div></th>
                    <th scope="col"><div class="text"><span>Vigencia del seguro</span></div></th>
                    <th scope="col"><div class="text"><span><div class="text">Observaciones</span></div></th>
                </tr>
            </thead>
            <tbody>
                {% for orden in ordenes %}
                <tr>
                    {% for element in orden %}
                        <td class="field-poliza nowrap">{{ element }}</td> 
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
